body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e0e0e;
}
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  outline: none;
}
button {
  outline: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}

/* create */
.create,
.update {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.create input,
.update input {
  margin-bottom: 20px;
  height: 50px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  background-color: #0e0e0e;
}
.create input:focus,
.update input:focus {
  border: 1px solid rgb(255, 181, 181);
}
.create input:enabled,
.update input:enabled {
  padding-left: 10px;
  color: #fff;
}
.create button {
  margin-top: 15px;
  height: 50px;
  border: 1px dashed rgb(255, 255, 255);
  border-radius: 8px;
  background-color: #0e0e0e;
  color: #fff;
  font-weight: bold;
}
.create button:hover {
  border: 1px dashed rgb(255, 181, 181);
  background-color: rgba(70, 70, 70, 0.15);
  color: #fff;
}
/* update */
.update button {
  margin-top: 15px;
  height: 50px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  background-color: #0e0e0e;
  color: #fff;
  font-weight: bold;
}
.update button:nth-child(3) {
  background-color: green;
}
.update button:nth-child(4) {
  background-color: orangered;
}

/* table */
.table {
  width: 1000px;
  word-break: break-all;
}
.table button {
  border: none;
  border-radius: 8px;
  color: #fff;
}
.table button:first-child {
  margin-right: 30px;
  background-color: green;
}
.table button:first-child:hover {
  background-color: rgb(0, 165, 0);
}
.table button:last-child {
  background-color: orangered;
}
.table button:last-child:hover {
  background-color: rgb(199, 53, 0);
}

@media screen and (max-width: 500px) {
  .table {
    width: 470px;
  }
  .create,
  .update {
    width: 470px;
  }
}
